* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: FlamaCondensed-Bold;
  src: local("FlamaCondensed-Bold"), url(FlamaCondensed-Bold.otf); }

@font-face {
  font-family: FlamaCondensed-Book;
  src: local("FlamaCondensed-Book"), url(FlamaCondensed-Book.otf); }

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  font-family: sans-serif; }

body {
  height: auto; }

svg {
  height: 410px;
  width: 963px;
  margin: 25px auto;
  text-transform: uppercase;
  position: relative;
  left: calc(50% + 320px);
  transform: translateX(-50%); }

.slot-container {
  max-width: 680px;
  height: 90px;
  width: 100%;
  overflow: hidden;
  position: relative;
  top: -194px;
  left: 270px;
  margin: 5px auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: "FlamaCondensed-Bold", sans-serif;
  font-size: 100px; }
  .slot-container .slot-container__column,
  .slot-container .slot-container__column1,
  .slot-container .slot-container__column2,
  .slot-container .slot-container__column3,
  .slot-container .slot-container__column4,
  .slot-container .slot-container__column5,
  .slot-container .slot-container__column6 {
    height: auto;
    padding-right: 12px; }
    .slot-container .slot-container__column .slot-name,
    .slot-container .slot-container__column .slot-name1,
    .slot-container .slot-container__column .slot-name2,
    .slot-container .slot-container__column .slot-name3,
    .slot-container .slot-container__column .slot-name4,
    .slot-container .slot-container__column .slot-name5,
    .slot-container .slot-container__column .slot-name6,
    .slot-container .slot-container__column1 .slot-name,
    .slot-container .slot-container__column1 .slot-name1,
    .slot-container .slot-container__column1 .slot-name2,
    .slot-container .slot-container__column1 .slot-name3,
    .slot-container .slot-container__column1 .slot-name4,
    .slot-container .slot-container__column1 .slot-name5,
    .slot-container .slot-container__column1 .slot-name6,
    .slot-container .slot-container__column2 .slot-name,
    .slot-container .slot-container__column2 .slot-name1,
    .slot-container .slot-container__column2 .slot-name2,
    .slot-container .slot-container__column2 .slot-name3,
    .slot-container .slot-container__column2 .slot-name4,
    .slot-container .slot-container__column2 .slot-name5,
    .slot-container .slot-container__column2 .slot-name6,
    .slot-container .slot-container__column3 .slot-name,
    .slot-container .slot-container__column3 .slot-name1,
    .slot-container .slot-container__column3 .slot-name2,
    .slot-container .slot-container__column3 .slot-name3,
    .slot-container .slot-container__column3 .slot-name4,
    .slot-container .slot-container__column3 .slot-name5,
    .slot-container .slot-container__column3 .slot-name6,
    .slot-container .slot-container__column4 .slot-name,
    .slot-container .slot-container__column4 .slot-name1,
    .slot-container .slot-container__column4 .slot-name2,
    .slot-container .slot-container__column4 .slot-name3,
    .slot-container .slot-container__column4 .slot-name4,
    .slot-container .slot-container__column4 .slot-name5,
    .slot-container .slot-container__column4 .slot-name6,
    .slot-container .slot-container__column5 .slot-name,
    .slot-container .slot-container__column5 .slot-name1,
    .slot-container .slot-container__column5 .slot-name2,
    .slot-container .slot-container__column5 .slot-name3,
    .slot-container .slot-container__column5 .slot-name4,
    .slot-container .slot-container__column5 .slot-name5,
    .slot-container .slot-container__column5 .slot-name6,
    .slot-container .slot-container__column6 .slot-name,
    .slot-container .slot-container__column6 .slot-name1,
    .slot-container .slot-container__column6 .slot-name2,
    .slot-container .slot-container__column6 .slot-name3,
    .slot-container .slot-container__column6 .slot-name4,
    .slot-container .slot-container__column6 .slot-name5,
    .slot-container .slot-container__column6 .slot-name6 {
      position: relative;
      height: 90px;
      line-height: 90px;
      width: 100%; }

.start-page {
    display: flex;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url("../img/background1%20(1).jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

.start-page .start-page-text {
    font-size: 80px;
    line-height: 90px;
    text-align: center;
    position: fixed;
    margin: auto;
    bottom: 300px;
    left: calc(50% - 285px);
    font-family: "FlamaCondensed-Book", sans-serif;
}

.on-button {
    width: 250px;
    height: 250px;
    background-image: url("../img/background1%20(1).png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    bottom: 50px;
    left: calc(50% - 125px);
    cursor: pointer;
}

.on-button:active {
    width: 250px;
    height: 250px;
    background-image: url("../img/background1%20(3).png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    bottom: 50px;
    left: calc(50% - 125px);
    cursor: pointer;
}

.off-button {
    width: 250px;
    height: 250px;
    background-image: url("../img/background1%20(3).png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    bottom: 50px;
    left: calc(50% - 125px);
    cursor: pointer;
    display: none
}

.main-box {
  color: white;
  display: none;
  position: relative;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
  height: 100vh;
  background-image: url("../img/background1%20(3).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .main-box p {
    text-align: center;
    position: relative;
    top: -100px;
    font-family: "FlamaCondensed-Book", sans-serif; }
    .main-box p span {
      font-size: 45px;
      line-height: 70px;
      display: block;
      text-align: left;
}
    .main-box p span:nth-child(1) {
      font-size: 65px;
      line-height: 100px;
      margin-bottom: 20px; }

.box-text {
    right: 100px;
    position: fixed;
    margin-top: 30px;
}

.button-circle {
  cursor: pointer; }